# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.ruff_cache/

# Editors / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# PDM / Pixi / PEP 582
.pdm-python
.pdm-build/
.pixi
__pypackages__/